.left_container {
    float: left;
    /*width: 20%;*/
}

.carousal_container {
    float: left;
    width: 55%;
    height: 300px;
    margin-left: 1%;
}

.enrollmentForm_container {
    width: 55%;
    border: 1px solid #efefef;
    margin-left: 15%;
    margin-top: -1%;
}

.clear {
    clear: both;
}

.carousal_navigation {
    margin-top: 8%;
    border: 1px solid #efefef;
}

.user_list {
    margin-top: 2%;
    /*border: 3px solid green;*/
}

.carousal_image_area {
    height: 50%;
    border: 1px solid black;
}

.carousal_text_area {
    border: 1px solid #efefef;
    background: #9d9d9d;
    height: 40%;
    color:#616161;
    font-family: Helvetica, sans-serif;
    font-size: 13px;
}

.carousal_text_items {
    text-overflow: ellipsis;
    overflow: hidden;
    /*width: 100%*/
}

.enrollmentForm_container .header_area {
    background: #d9d9d9;
    color: #515151;
    padding: 3px 0 4px 9px;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 600;
    border: 1px solid #acacac;
}

.form_area {
    text-overflow: ellipsis;
    overflow: hidden;
    border: 1px solid #acacac;
    border-top: none;
}

input[type=submit] {
    float: right;
    background: #efefef;
    float: right;
    margin-top: 0%;
    border: 1px solid #000;
    text-transform: uppercase;
}

.enroll_now_h {
    position: absolute;
    bottom: 0px;
    border: 1px solid #000;
    margin-left: 5%;
    background: #d5d5d5;
}

.carousal_navigation_header {
    background: #efefef;
    min-height: 20px;
}

.error_msg {
    color: red;
    float: left;
}

body {
    padding-left: 1%;
    color: #909090;
}

.content_area {
    /*margin-top: 2%;*/
}

table {
    width: 100%;
    border: 1px solid #000;
}

tr {
    border: 1px solid #000;
}

thead {
    background: #e1e1e1;
}

#enrollmentForm div {
    padding: 3%;
    padding-bottom: 0;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
}

#enrollmentForm input[type=text] {
    width: 20%;
    position: absolute;
    left: 30%;
}

/* CSS for top container */
.logo {
    background: url('../images/sapient_logo.png') no-repeat;
    min-height: 50px;
    margin-top: -8px;
    margin-bottom: 20px;
}