.left_container{
    float: left;
    width: 20%;
}

.carousal_container{
    float: left;
    width: 65%;
    height:300px;
    margin-left: 1%;
}

.enrollmentForm_container{
    width: 65%;
    height: 200px;
    border: 1px solid #efefef;
    margin-left: 21%;
    margin-top: 3%;
}

.clear{
    clear:both;
}

.carousal_navigation{
    margin-top: 2%;
    border:1px solid red;
}

.user_list{
    margin-top: 2%;
    border: 3px solid green;
}

.carousal_image_area{
height: 60%;
border: 1px solid black;
}

.carousal_text_area{
    border: 1px solid #efefef;
    background: #efefef;
    height: 40%;
}

.carousal_text_items{
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%
}

.enrollmentForm_container .header_area{
    background: #efefef;
}

.form_area{
    text-overflow: ellipsis;
    overflow: hidden;
}

input[type=submit]{
    float: right;
    margin-top: 3%;
    border: 0px;
    background: #efefef;
}